-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title
    meta{:charset => "utf-8"}/
    meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    link{:href => "/assets/css/bootstrap.min.css", :rel  => "stylesheet"}
    link{:href => "/assets/css/carrden.css", :rel  => "stylesheet"}
    script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
    script{:src => "/assets/js/jquery.min.js"}
    script{:src => "/assets/js/bootstrap.min.js" }
    script{:src => "/assets/js/carrden.js" }
  body
    #content
      h1= headline
      != body
